.App {
  text-align: center;
}

.Cadastrar{
  background-color: #61dafb;
  border-style : solid;
}

.titulo{
  padding-top: 0px;
  padding-bottom: 100px;
}

h2 {
  font-family : "Arial", sans-serif;
  letter-spacing: 1px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.buttons {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 10px;
  padding-left: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
